[submodule "week3/Mon./pp/Mon/pp/w3-mon-pp1-part1"]
	path = week3/Mon./pp/Mon/pp/w3-mon-pp1-part1
	url = https://github.com/Lion504/w3-mon-pp1-part1.git
[submodule "week3/Mon./pp/Mon/pp/w3-mon-pp2"]
	path = week3/Mon./pp/Mon/pp/w3-mon-pp2
	url = https://github.com/Lion504/w3-mon-pp2.git
